*.doc
*.zip
*.rtf
*.eps
*.pyc
*.mdl
*.slx
*.m
*.doc#

Python_Codebase_Notes.txt
UTILS/*
auxiliary book code files/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/__pycache__/*
*/*/__pycache__/*
*/.DS_Store
*/*/.DS_Store

CH01/dog.jpg
CH01/None0000000.png
CH01/temp.mat
CH02/CH02_SEC04_2_SpectrogramBeethoven/*
CH02/None0000000.png
CH03/CC2.mat
CH03/jelly.jpg
CH03/mustache.jpg
CH05/catData.mat
CH05/catData_w.mat
CH05/dogData.mat
CH05/dogData_w.mat
CH05/census1994.csv
CH06/catData_w.mat
CH06/dogData_w.mat
CH06/CH06_SEC01_1_NN/*
CH06/CH06_SEC06_1_NNLorenz/*
CH06/extra/*
CH08/CH08_SEC07_3_LQG_Simulink/*
CH09/*.mat
CH09/CH09_SEC02_2_BalancedTruncation/*
CH09/CH09_z_extra_BT_ERA_OKID/*
CH10/CH10_SEC02_GA_PID/*
CH10/CH10_SEC03_ESC_Krstic_ex1p3/*
CH10/CH10_SEC03_ESC_Krstic_ex1p3/NEWkrstic_example_1p3_wnoise.slx
CH12/old_extra/*

